body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background-color: #FEF2F4;
  color: #594545;
  font-size: 14px;
  line-height: 1.4;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #A7727D;
  font-size: 35px
}

h2,h3{
  font-family: Space Grotesk;
  color: #A7727D;
  font-size: 21px;
}

a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #5F264A;
    font-weight: 600;
    font-size: 20px;
}

a:hover{
  color: #B0A4A4;
  }

#profile-pic{
     width, height: 200px;
     border-radius: 50%;
}

.card{
  background-color: #E4D0D0;
  padding: 5px;
  text-align: center;
  margin:25px auto;
  border-radius:10px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
